.search {
  border: lightgray solid 3px;
  font-size: large;
  outline: none;
  padding: 10px;
  margin: 20px auto;
  line-height: 30px;
  margin-bottom: 40px;
  background-color: whitesmoke;
  border-radius: 10px;
}
