.card-container {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
}
